@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&family=VT323&display=swap');

:root{
    --d_grey:#323538;
    --m_grey:#1f2833;
    --l_grey:#868A8F;
    --l_blue:#66fcf1;
    --d_blue:#45a29e;
    --l_blue_tran:#66fcf23b;
	--d_grey_tran:#32353800;
    --l_grey_tran:#c5c6c72d;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    margin-bottom: 60px;
    border-bottom: 1px solid var(--l_grey_tran);
    
}

.home-button, .clear-bookmarks{
    color: var(--l_grey);
    background-color: transparent;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid var(--l_grey_tran);
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.5s ease-out;
}

.home-button:hover, .clear-bookmarks:hover{
    color: var(--l_blue);
    border-color: var(--l_blue);
}

.navbar p {
    color: var(--l_blue);
    font-family: "VT323", sans-serif;
    font-size: 64px;
    letter-spacing: 15px;
}

.suggestions {
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
    height: 350px;
}

