/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&family=Rubik+Iso&family=VT323&display=swap');


/* || GENERAL CLASSES */
:root{
    --d_grey:#323538;
    --m_grey:#1f2833;
    --l_grey:#868A8F;
    --l_blue:#66fcf1;
    --d_blue:#45a29e;
    --l_blue_tran:#66fcf23b;
	--d_grey_tran:#32353800;
    --l_grey_tran:#c5c6c72d;

}

html, body {
    min-height: 100vh;
}

body{
    padding: 30px 60px;
    background-color: var(--d_grey);
}

::selection {
    background: var(--l_blue_tran);
}

.columns {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.columns:not(:last-child) {
    margin-bottom: 0;
}

/* || HEADER*/

header {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    text-align: center;
    user-select: none;
}

.header p{
    display: inline-block;
    margin: 0 auto;
    font-family: 'VT323', sans-serif;
    font-size: 96px;
    letter-spacing: 15px;
    color: var(--l_blue);

}

.header .button{
    display: block;
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translate(0, -50%);
    background-color: transparent;
    border: none;
    color: var(--l_grey);
    border-radius: 0px;
    border-bottom: 1px solid var(--l_grey_tran);
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    transition: all 0.5s ease-out;
}

.header .bookmark-override {
    color: var(--l_grey);
    font-size: 16px;
    position: relative;
    right: 0px;
    transition: all 0.5s ease-out;
}

.header .button:hover{
    color: var(--l_blue);
    border-bottom: 1px solid var(--l_blue);
}

.header .button:hover .bookmark-override{
    color: var(--l_blue);
}

/* || SEARCH AND FILTER SECTION */


/* MAIN CONTAINER DIV */
.search-filter-container{
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 175px;
    width: auto;
    margin-bottom: 30px;
    user-select: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: var(--l_grey);
}

/* DROP DOWN FOR MAIN FILTER SELECTION */
.search-filter-dropdown {
    display: inline-block;
    position: relative;
    user-select: none;
}

.search-filter-dropdown #selected-filter{
    height: 1.75em;
    width: 180px;
    border-bottom: 2px solid var(--l_blue_tran);
    background: transparent;
    color: var(--l_blue);
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 5px;
}

.filter-dropdown-content {
    display: none;
    overflow: hidden;
    position: absolute;
    width: 180px;
    background-color: transparent;
    color: var(--l_grey);
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 5px;
}

.search-filter-dropdown:hover .filter-dropdown-content{
    display: block;
    background-color: var(--l_grey_tran);
}

.filter-dropdown-content .filter-option{
    padding: 5px 5px;
}

.filter-dropdown-content .filter-option:hover {
    color: var(--l_blue);
}

/* SEPARATING LINE */
.separator{
    height: 180px;
    width: 2px;
    margin: 0px 45px;
    border-radius: 1px;
    background-color: var(--l_blue_tran);
    transition:height 1s ease-out;
}


/* GENRE BUTTON GRID STYLES */
#genre-filter-grid{
    max-width: 800px;
}

.genre-button{
    height: auto;
    margin: 5px;
    padding: 5px;
    color:var(--l_grey);
    background-color: transparent;
    border: 1px solid;
    border-color: var(--l_grey_tran);
    font-size: 16px;
    font-family:'Quicksand', sans-serif;
    transition: all 0.5s ease-out;
}

.genre-button:hover{
    color: var(--l_blue_tran);
    border-color: var(--l_blue_tran);
}

.genre-button-active{
    color: var(--l_blue);
    border-color: var(--l_blue);
}


/* ACTOR & LENGTH INPUT STYLES */
.actor-length-search{
    max-width: 800px;
    border: 2px solid var(--l_blue);
    color: var(--l_blue);
    background-color: transparent;
    border-color: var(--l_grey_tran);
    font-family: 'Quicksand', sans-serif;
    transition: border-color 0.5s ease-out;
}

.actor-length-search::placeholder {
    color: var(--l_grey_tran);
}

.actor-length-search:hover{
    border-color: var(--l_blue_tran);
}

.actor-length-search:focus{
    border-color: var(--l_blue);
}


/* SEARCH BUTTON STYLING */
.search-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    user-select: none;
}

#search-button {
    width: auto;
    padding: 15px 60px;
    background-color: transparent;
    border: 1px solid var(--l_grey_tran);
    color: var(--l_grey);
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.5s ease-out;
}

.search-icon {
    position: absolute;
    left: 15px;
    font-size: 16px;
}

#search-button:hover{
    /* transition: color 2s ease-out; */
    color: var(--l_blue);
    border-color: var(--l_blue)
}

#search-button:active{
    color: var(--l_blue);
    border-color: var(--l_blue);
    box-shadow: 0px 0px 15px var(--l_grey_tran);
}

#search-button:focus{
    color: var(--l_blue);
    border-color: var(--l_blue);
}


/* MOVIE RESULTS FILTERS */
.search-results-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.blank-result-card {
    flex: 300px 1 1;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0px 30px 60px 30px;
    align-items: center;
    padding: 15px 30px 30px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #25282b;
    transition: all 0.5s ease-out;
    user-select: none;
}

.blank-result-card:hover {
    box-shadow: 0px 0px 30px #202325;
}

.results-card-bookmark {
    position: absolute;
    color: var(--l_grey_tran);
    top: -9px;
    right: 45px;
    font-size: 32px;
    transition: color 0.5s ease-out;
    cursor: pointer; 
}
.fa-regular {
    position: absolute;
    margin-top: 525px;
    margin-left: 85px;
    justify-self: flex-end;
}

.results-card-bookmark:hover {
    color: var(--l_blue);
}

/* this is results card bookmark, but i just kept it called fa-bookmark-active */
.fa-bookmark-active{
    color: var(--l_blue);
}

/* MOVIE POSTER STYLING */
.movie-poster-container{
    height: auto;
    width: 100%;
    margin-top: 39px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 15px var(--l_grey);
    border-radius: 10px;
    overflow: hidden;
    object-fit: contain;
}

.movie-poster-container img {
    height: 100%;
}

.movie-title {
    margin-bottom: 15px;
    text-align: center;
    color: var(--l_grey);
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.movie-rating {
    margin-bottom: 15px;
    color: var(--l_grey);
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}


.more-info-button {
    width: auto;
    border: none;
    border-bottom: 2px solid var(--l_grey_tran);
    background-color: transparent;
    color: var(--l_grey);
    font-family: 'Quicksand', sans-serif;
    transition:  all 0.5s ease-out;
}

.more-info-button:hover {
    cursor: pointer;
    border-bottom: 2px solid var(--l_blue);
    color: var(--l_blue);
}

/* SHOW MORE BUTTON */
.show-more-container{
    justify-content: center;
    user-select: none;
    display: none;
}

.show-more{
    margin-bottom: 60px;
    border: none;
    background-color: transparent;
    color: var(--l_grey_tran);
    font-family: 'Quicksand', sans-serif;
    font-size: 32px;
    transition: all 0.5s ease-out;
    /* display: none; */

}

.show-more:hover{
    cursor: pointer;
    color: var(--l_blue);
}


/* FOOTER */
a{
    color: var(--l_blue);
    text-decoration: underline;
    cursor: pointer;
    letter-spacing: 2px;
}

a:visited{
    color: var(--l_blue);
    text-decoration: underline;
    cursor: pointer;
    letter-spacing: 2px;
}

footer{
    user-select: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: var(--l_grey);
    text-align: center;
    line-height: 30px;
}

footer .footer-pixum{
    font-family: "VT323";
    color: var(--l_blue);
    letter-spacing: 2px;
}