
 :root{
    --d_grey:#0b0c10;
    --m_grey:#1f2833;
    --l_grey:#c5c6c7;
    --l_blue:#094642;
    --d_blue:#185451;

}

.criteria {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between;
}